## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [ ]:
aList = [100, 200, 300, 400, 500]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [2]:
aList = [100, 200, 300, 400, 500]
# code below this line
for index in range(len(aList) -1, -1, -1): #chữ số đầu tiên thì -1, chữ số thứ hai là giảm
    print(aList[index], end=", ")
# code above this line

500, 400, 300, 200, 100,

In [3]:
#NinhTran example
aList = [100, 200, 300, 400, 500]

revenrse_aList = []
for item in aList:
    revenrse_aList.insert(0,item)
print(revenrse_aList)

[500, 400, 300, 200, 100]

In [4]:
aList = [100, 200, 300, 400, 500]
# code below this line
aList.reverse()
print(aList)

[500, 400, 300, 200, 100]

In [5]:
#Hoc
a = [100, 200, 300, 400, 500]
b = a[::-1]
print(b)

[500, 400, 300, 200, 100]

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [7]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

#điều kiện đầu vào hai list có số phần tử bằng nhau
result=[]
for i in range(4): #hoặc for i in range(0,len(list1))
    result.append(list1[i] + list2[i]) #insert phải mất công truyền vào vị trí
print(result)

['My', 'name', 'is', 'Kelly']

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [8]:
aList = [1, 2, 3, 4, 5, 6, 7]
square_all = list(map(lambda phan_tu: phan_tu ** 2, aList))
print(square_all)

[1, 4, 9, 16, 25, 36, 49]

In [13]:
aList = [1, 2, 3, 4, 5, 6, 7]
binh_phuong = []
for item in aList:
    binh_phuong.append( item**2)
print(binh_phuong)

[1, 4, 9, 16, 25, 36, 49]

In [14]:
aList = [1, 2, 3, 4, 5, 6, 7]
result = [i**2 for i in aList]
print(result)

[1, 4, 9, 16, 25, 36, 49]

**Output**

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [15]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# sử dụng hai vòng lặp lồng nhau
result=[]
for i in list1:
    for j in list2:
        result.append(i+j)
print(result)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [28]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
N = len(list1)
for index in range(N):
    print(f'{list1[index]} {list2[-index-1]}') #index sẽ là vị trí của số trong list, list2 xài chỉ số dương
    print(f'{list1[index]} {list2[N-1-index]}') #list2 xài chỉ số dương

10 400
10 400
20 300
20 300
30 200
30 200
40 100
40 100

In [22]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# code below this line
result=[]
for i in range(0,len(list1)):
    result.append(list1[i])
    result.append(list2[-i-1])
print(result)
# code above this line

[10, 400, 20, 300, 30, 200, 40, 100]

In [27]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for item1, item2 in zip(list1, list2):
    print(f"{item1}  {item2}")

10  400
20  300
30  200
40  100

In [23]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list3 = list2[::-1]
for i in range(len(list1)):
    list4 = str(list1[i]) + "  " + str(list3[i])
    print(list4)

10  400
20  300
30  200
40  100

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [12]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad", "", ""]
# code below this line
while "" in list1:
    list1.remove("")
print(list1)
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [14]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break

print(list1)
# code above this line

[5, 10, 15, 200, 25, 50, 20]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [33]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line
while 20 in list1:
    list1.remove(20)
print(list1)
# code above this line

[5, 15, 25, 50]

In [34]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i == 20:
        list1.remove(20)
print(list1)

[5, 15, 25, 50]